## **Wöchentlicher Gnag Newsletter** 📢
Hier ist der Gnag Newsletter für **KW {{ calendar_week }}**!
### **Was war los im Discord?** 🎙️
{% if discord_users_voice == 0 %}
Diese Woche war niemand in einem Voice Channel. 🤐
{% elif discord_users_voice == 1 %}
Es war nur einmal jemand diese Woche da. 🙃
{% else %}
Insgesamt waren **{{ discord_users_voice }} Leute** aktiv in den Voice Channels und haben **{{ discord_time_voice|seconds_to_human_readable }}** miteinander gesprochen. 👥
{% endif %}
{% if discord_time_alone|seconds_to_human_readable != "0 Minuten" %}
Für ganze **{{ discord_time_alone|seconds_to_human_readable }}** saß jemand alleine in einem Voice Channel. 😔
{% else %}
Niemand hat diese Woche alleine Zeit in einem Voice Channel verbracht. 😊
{% endif %}
{% set vt_trend = '↗️' if discord_time_voice_change_pct > 0 else ('↘️' if discord_time_voice_change_pct < 0 else '➡️') %}
{% if discord_time_voice_change_pct != 0 %}
({{ vt_trend }} {{ discord_time_voice_change_pct|round(1) }}% zur Vorwoche)
{% endif %}
### **Where's the gaming?** 🎮
{% if combined_most_played_together %}
Gemeinsam wurde am meisten **{{ combined_most_played_together }}** gespielt. 🤝
{% set spt_trend = '↗️' if combined_most_played_together_list_change_pct > 0 else ('↘️' if combined_most_played_together_list_change_pct < 0 else '➡️') %}
({{ spt_trend }} {{ combined_most_played_together_list_change_pct|round(1) }}% zur Vorwoche)
{% else %}
Diese Woche wurde kein einziges Spiel gemeinsam gespielt.
{% endif %}
{% if combined_most_played %}
Das over-all meistgespielte Game war **{{ combined_most_played }}**. 🏆
{% set sp_trend = '↗️' if combined_most_played_list_change_pct > 0 else ('↘️' if combined_most_played_list_change_pct < 0 else '➡️') %}
({{ sp_trend }} {{ combined_most_played_list_change_pct|round(1) }}% zur Vorwoche)
{% else %}
Diese Woche wurde kein Spiel besonders häufig gespielt.
{% endif %}
{% if discord_active_events|length == 0 %}
{% elif discord_active_events|length == 1 %}
### **Was geht grade ab?** 📅
{% if discord_active_events[0].end_time %}
Derzeit läuft noch **{{ discord_active_events[0].name }}** bis <t:{{ discord_active_events[0].end_time | datetime_to_timestamp }}:f>
{% else %}
Derzeit läuft noch **{{ discord_active_events[0].name }}**.
{% endif %}
{% if discord_active_events[0].description %}
Die Beschreibung lautet: {{ discord_active_events[0].description }}
{% endif %}
{% else %}
### **Was geht grade ab?** 📅
Derzeit laufen folgende Events:
{% for event in discord_active_events %}

**{{ event.name }}**
🕒 Startzeit: <t:{{ event.start_time | datetime_to_timestamp }}:f>
{% if event.end_time %}
⏳ Endzeit: <t:{{ event.end_time | datetime_to_timestamp }}:f>
{% endif %}
{% if event.description %}
Die Beschreibung lautet: {{ event.description }}
{% endif %}
{% endfor %}
{% endif %}
{% if discord_non_active_events|length == 0 %}
{% elif discord_non_active_events|length == 1 %}
### **Geplante Events** 🔮
{% if discord_non_active_events[0].end_time %}
Bald steht noch **{{ discord_non_active_events[0].name }}** von <t:{{ discord_non_active_events[0].start_time | datetime_to_timestamp }}:f> bis <t:{{ discord_non_active_events[0].end_time | datetime_to_timestamp }}:f> an.
{% else %}
Bald steht noch **{{ discord_non_active_events[0].name }}** an. Da geht es am <t:{{ discord_non_active_events[0].start_time | datetime_to_timestamp }}:f> los.
{% endif %}
{% if discord_non_active_events[0].description %}
Die Beschreibung lautet: {{ discord_non_active_events[0].description }}
{% endif %}
{% else %}
### **Geplante Events** 🔮
Es sind folgende weitere Events in den nächsten Wochen geplant:
{% for event in discord_non_active_events %}

**{{ event.name }}**
🕒 Startzeit: <t:{{ event.start_time | datetime_to_timestamp }}:f>
{% if event.end_time %}
⏳ Endzeit: <t:{{ event.end_time | datetime_to_timestamp }}:f>
{% endif %}
{% if event.description %}
Die Beschreibung lautet: {{ event.description }}
{% endif %}
{% endfor %}
{% endif %}
{% if birthdays|length == 0 %}
{% elif birthdays|length == 1 %}
### **Geburtstage** 🎉
Am <t:{{ birthdays[0].next_birthday | datetime_to_timestamp }}:D> hat **{{ birthdays[0].name }}** Geburtstag! 🎉🎂
{% else %}
### **Geburtstage** 🎉
Folgende Geburtstage stehen an:
{% for birthday in birthdays %}
Am <t:{{ birthday.next_birthday | datetime_to_timestamp }}:D> hat **{{ birthday.name }}** Geburtstag! 🎉🎈
{% endfor %}
{% endif %}

✨ Danke fürs Lesen und bis zur nächsten Woche! ✨
[Zum Gnag Dashboard]({{ link }})