# **Wöchentlicher Gnag Newsletter** 📢

Hier ist der Gnag Newsletter für KW {{title_period.calendar_week}}.

## **Was war los im Discord?** 🎙️
{% if voice.total.current and voice.total.current > 0 %}
    {% if voice.total.change.percentage %}
        {% set total_trend = '↗️' if voice.total.change.percentage > 0 else ('↘️' if voice.total.change.percentage < 0 else '➡️') %}
        Insgesamt wurden **{{ voice.total.current | seconds_to_human_readable }}** Lebenszeit in Discord verbracht. ({{ total_trend }} {{ voice.total.change.percentage | round(1) }}% zu voriger Woche)
    {% else %}
        Keine Voice-Aktivität im aktuellen Zeitraum.
    {% endif %}
{% endif %}

{% if voice.together.current and voice.together.current > 0 %}
    {% if voice.together.change.percentage %}
        {% set together_trend = '↗️' if voice.together.change.percentage > 0 else ('↘️' if voice.together.change.percentage < 0 else '➡️') %}
        **{{ voice.together.current | seconds_to_human_readable }}** der Woche wurde im Discord zusammen verbracht. ({{ together_trend }} {{ voice.together.change.percentage | round(1) }}% zu voriger Woche)
    {% else %}
        **{{ voice.together.current | seconds_to_human_readable }}** der Woche wurde im Discord zusammen verbracht.
    {% endif %}
{% endif %}

{% if voice.alone.current and voice.alone.current > 0 %}
    {% if voice.alone.change.percentage %}
        {% set alone_trend = '↗️' if voice.alone.change.percentage > 0 else ('↘️' if voice.alone.change.percentage < 0 else '➡️') %}
        Für ganze **{{ voice.alone.current | seconds_to_human_readable }}** saß jemand alleine in einem Voice Channel. ({{ alone_trend }} {{ voice.alone.change.percentage | round(1) }}% zu voriger Woche)
    {% else %}
        Für ganze **{{ voice.alone.current | seconds_to_human_readable }}** saß jemand alleine in einem Voice Channel.
    {% endif %}
{% endif %}

## **Where's the gaming?** 🎮
{% if gaming.total.current and gaming.total.current > 0 %}
    {% if gaming.total.change.percentage %}
        {% set gtotal_trend = '↗️' if gaming.total.change.percentage > 0 else ('↘️' if gaming.total.change.percentage < 0 else '➡️') %}
        Zusammengerechnet hat die Gnag **{{ gaming.total.current | seconds_to_human_readable }}** gegamed. ({{ gtotal_trend }} {{ gaming.total.change.percentage | round(1) }}% zu voriger Woche)
    {% else %}
        Zusammengerechnet hat die Gnag **{{ gaming.total.current | seconds_to_human_readable }}** gegamed.
    {% endif %}
{% else %}
Keine Gaming-Daten für den aktuellen Zeitraum.
{% endif %}

{% if gaming.most_playtime and gaming.most_playtime.entries and gaming.most_playtime.entries|length > 0 %}
    ### Timesink
    Das meistgespielte Spiel war **{{ gaming.most_playtime.entries[0].name }}** mit **{{ gaming.most_playtime.entries[0].current_value | seconds_to_human_readable }}**.
    {% if gaming.most_playtime.entries[0].change_rank %}
    {% set change_trend = '↗️' if gaming.most_playtime.entries[0].change_rank.percentage > 0 else ('↘️' if gaming.most_playtime.entries[0].change_rank.percentage < 0 else '➡️') %}
    ({{ change_trend }} {{ gaming.most_playtime.entries[0].change_rank.percentage | round(1) }}% zum Top Game voriger Woche)
    {% endif %}
{% endif %}

{% if gaming.biggest_groups and gaming.biggest_groups.entries and gaming.biggest_groups.entries|length > 0 %}
    ### The Biggest Gaming
    Die größte Ansammlung gabs bei **{{ gaming.biggest_groups.entries[0].name }}** wo **{{ gaming.biggest_groups.entries[0].current_value }} Gamer** gleichzeitig gespielt haben.
    {% if gaming.biggest_groups.entries[0].change_rank.absolute %}
        {% if gaming.biggest_groups.entries[0].change_rank.absolute > 0 %}
            (↗️ {{ gaming.biggest_groups.entries[0].change_rank.absolute }} mehr als die größte Gruppe letzte Woche)
            {% elif gaming.biggest_groups.entries[0].change_rank.absolute < 0 %}
            (↘️ {{ gaming.biggest_groups.entries[0].change_rank.absolute | abs }} weniger als die größte Gruppe letzte Woche)
            {% else %}
            (➡️ genauso viele wie letzte Woche)
        {% endif %}
    {% endif %}
{% endif %}

{% if gaming.longest_sessions and gaming.longest_sessions.entries and gaming.longest_sessions.entries|length > 0 %}
    {% set longest_session = gaming.longest_sessions.entries[0] %}
    {% if longest_session.current_value < 3600 %}
    {% else %}
        ### Überstunden
        Die längste Session gabs von **{{ longest_session.user_name }}** in **{{ longest_session.game_name }}**.
        Ganze **{{ longest_session.current_value | seconds_to_human_readable }}** wurden am Stück gezockt!
        {% if longest_session.change_rank.absolute < 0 %}
            (↘️ {{ longest_session.change_rank.absolute | seconds_to_human_readable }} weniger als die längste Session letzte Woche)
        {% elif longest_session.change_rank.absolute > 0 %}
            (↗️ {{ longest_session.change_rank.absolute | seconds_to_human_readable }} mehr als die längste Session letzte Woche)
        {% endif %}
    {% endif %}
{% endif %}

## **Aktuelle und geplante Events** 📅
{% if events.active and events.active|length > 0 %}
    Derzeit laufende Events:
    {% for event in events.active %}
        <br>
        **{{ event.name }}**
        🕒 Start: <t:{{ event.start_time | datetime_to_timestamp }}:f>
            {% if event.end_time %}
                ⏳ Ende: <t:{{ event.end_time | datetime_to_timestamp }}:f>
            {% endif %}
        {% if event.description %}
            Beschreibung: {{ event.description }}
        {% endif %}
    {% endfor %}
{% endif %}

{% if events.upcoming and events.upcoming|length > 0 %}
    Geplante Events:
    {% for event in events.upcoming %}
        <br>
        **{{ event.name }}** - Start: <t:{{ event.start_time | datetime_to_timestamp }}:f>
        {% if event.end_time %}
            ⏳ Ende: <t:{{ event.end_time | datetime_to_timestamp }}:f>
        {% endif %}
        {% if event.description %}
            Beschreibung: {{ event.description }}
        {% endif %}
    {% endfor %}
{% endif %}

{% if not events.active and not events.upcoming %}
    Keine laufenden oder geplanten Events.
{% endif %}

{% if birthdays and birthdays|length > 0 %}
## **Geburtstage** 🎉
{% for birthday in birthdays %}
Am <t:{{ birthday.next_birthday | datetime_to_timestamp }}:D> hat **{{ birthday.name }}** Geburtstag!
{% endfor %}
{% endif %}

<br>
✨ Danke fürs Lesen! ✨
[Zum Gnag Dashboard]({{ link }})