## **Gnag Newsletter** 📢
Hier ist der Gnag Newsletter für **KW {{ calendar_week }}**!
### **Was war los im Discord?** 🎙️
{% if discord_busiest_channel %}
    Diese Woche war am meisten in **{{ discord_busiest_channel }}** los! 🔥
{% else %}
    Diese Woche gab es keinen besonders aktiven Channel. 😴
{% endif %}
{% if discord_users_voice == 0 %}
    Diese Woche war niemand in einem Voice Channel. 🤐
{% elif discord_users_voice == 1 %}
    Es war nur einmal jemand diese Woche da. 🙃
{% else %}
    Insgesamt waren **{{ discord_users_voice }} Leute** aktiv in den Voice Channels und haben **{{ discord_time_voice }}** miteinander gesprochen. 👥
{% endif %}
{% if discord_time_alone != "0 Tage 0 Stunden 0 Minuten" %}
    Für ganze **{{ discord_time_alone }}** saß jemand alleine in einem Voice Channel. 😔
{% else %}
    Niemand hat diese Woche alleine Zeit in einem Voice Channel verbracht. 😊
{% endif %}
### **Where's the gaming?** 🎮
{% if steam_most_played_together %}
    Gemeinsam wurde am meisten **{{ steam_most_played_together }}** gespielt. 🤝
{% else %}
    Diese Woche wurde kein einziges Spiel gemeinsam gespielt.
{% endif %}
{% if steam_most_played %}
    Das over-all meistgespielte Game war **{{ steam_most_played }}**. 🏆
{% else %}
    Diese Woche wurde kein Spiel besonders häufig gespielt.
{% endif %}
### **Was geht grade ab?** 📅
{% if discord_active_events|length == 0 %}
    Derzeit gibt es keine aktiven Events.
{% elif discord_active_events|length == 1 %}
    {% if discord_active_events[0].end_time %}
        Derzeit läuft noch **{{ discord_active_events[0].name }}** bis <t:{{ discord_active_events[0].end_time | datetime_to_timestamp }}:f>
    {% else %}
        Derzeit läuft noch **{{ discord_active_events[0].name }}**.
    {% endif %}
    {% if discord_active_events[0].description %}
        Die Beschreibung lautet: {{ discord_active_events[0].description }}
    {% endif %}
{% else %}
    Derzeit laufen folgende Events:
    {% for event in discord_active_events %}
        **{{ event.name }}**
        🕒 Startzeit: <t:{{ event.start_time | datetime_to_timestamp }}:f>
        {% if event.end_time %}
            ⏳ Endzeit: <t:{{ event.end_time | datetime_to_timestamp }}:f>
        {% endif %}
        {% if event.description %}Die Beschreibung lautet: {{ event.description }}{% endif %}
    {% endfor %}
{% endif %}
### **Geplante Events** 🔮
{% if discord_non_active_events|length == 0 %}
    Es sind bisher keine weiteren Events in den nächsten Wochen geplant.
{% elif discord_non_active_events|length == 1 %}
    {% if discord_non_active_events[0].end_time %}
        Bald steht noch **{{ discord_non_active_events[0].name }}** von <t:{{ discord_non_active_events[0].start_time | datetime_to_timestamp }}:f> bis <t:{{ discord_non_active_events[0].end_time | datetime_to_timestamp }}:f> an.
    {% else %}
        Bald steht noch **{{ discord_non_active_events[0].name }}** an. Da geht es am <t:{{ discord_non_active_events[0].start_time | datetime_to_timestamp }}:f> los.
    {% endif %}
    {% if discord_non_active_events[0].description %}
        Die Beschreibung lautet:: {{ discord_non_active_events[0].description }}
    {% endif %}
{% else %}
    Es sind folgende weitere Events in den nächsten Wochen geplant:
    {% for event in discord_non_active_events %}
        **{{ event.name }}**
        🕒 Startzeit: <t:{{ event.start_time | datetime_to_timestamp }}:f>
        {% if event.end_time %}
            ⏳ Endzeit: <t:{{ event.end_time | datetime_to_timestamp }}:f>
        {% endif %}
        {% if event.description %}Die Beschreibung lautet: {{ event.description }}{% endif %}
    {% endfor %}
{% endif %}
### **Geburtstage** 🎉
{% if birthdays|length == 0 %}
    In den nächsten Wochen hat niemand Geburtstag. 🎂
{% elif birthdays|length == 1 %}
    Am <t:{{ birthdays[0].next_birthday | datetime_to_timestamp }}:D> hat **{{ birthdays[0].name }}** Geburtstag! 🎉🎂
{% else %}
    Folgende Geburtstage stehen an:
    {% for birthday in birthdays %}
        Am <t:{{ birthday.next_birthday | datetime_to_timestamp }}:D> hat **{{ birthday.name }}** Geburtstag! 🎉🎈
    {% endfor %}
{% endif %}

✨ Danke fürs Lesen und bis zur nächsten Woche! ✨
